# Java - Ficheiros compilados
*.class

# Pastas de Log e Temporários
*.log
tmp/

# Configurações do Visual Studio Code (VS Code)
.vscode/
bin/

# Configurações do IntelliJ IDEA
.idea/
*.iml
out/

# Configurações do Eclipse
.metadata/
.classpath
.project
.settings/

# Ficheiros de sistema (macOS e Windows)
.DS_Store
Thumbs.db
